<!DOCTYPE html>
<html lang="en">

<head>
<title>Тестовое задание ЦВТ</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" href="css/style.min.css">
</head>
    <body>
		<div class="page">
		  <div class="tabs" id="tabs_switch">
			  <header>
		    	<nav class="navigation">
			       <a class="navigation__link whiteborder">Профиль</a>
				   <a class="navigation__link">Друзья пользователя</a>
			    </nav>
			  </header>
			  <main class="profile">
			<section class="profile__content">
			  <div class="description-profile__wrap row">
				<div class="description-profile__avatar col-4v2">
				  <div class="description-profile__avatar_img" alt="Profile-avatar">
				  </div>
				</div>
	  
				<div class="description-profile-user-info">
				  <div class="description-profile-name">
					<input  class="description-profile__input-name" id="Name"  placeholder="Имя">
				  </div>
				  <div class="description-profile__wrap row">
					<div class="description-profile-city col-6">
					  <p class="description-profile__text_city_name"> г. Нижние Шахты</p>
					</div>
				  </div>
				  <div class="description-profile__wrap row">
					<div class="description-profile-family col-6">
					  <p class="description-profile__text_family_status">Семейное положение</p>
					</div>
					<div class="description-profile-married col">
					  <p class="description-profile__text_married_status">холост</p>
					</div>
				  </div>
				  <div class="description-profile__wrap row">
					<div class="description-profile-phone col-6">
					  <p class="description-profile__text_phone_number">Телефон</p>
					</div>
					<div class="description-profile__phone col" id="grow-phone">
					  <input  class="description-profile__input-phone" id="phone" placeholder="+7 (000) 000-00-00">
					</div>
				  </div>
				  <div class="description-profile__wrap row">
					<div class="description-profile-email col-6">
					  <p class="description-profile__text_email_adress"> E-mail</p>
					</div>
					<div class="description-profile-email col" id="grow-email">		
			          <a><input  class="description-profile__input-email" id="email" placeholder="something@mail.ru" ></a>
					</div>
				  </div>
				</div>
			  </div>
			  <div>
				<div class="description-profile__wrap row">
				<button type="submit" class="description-profile__button_add-friend">Добавить в друзья</button>
				  <div class="description-profile-user-info">
					<p class="description-profile__text_hobby"> Интересы </p>
					<div class="description-profile__wrap row justify-content-start">
					  <div id="Input_val" class="description-profile-hobby col-auto">
						<ul id="standart-int" class="List">
						</ul>
					  </div>
					  
					  <div class="description-profile-add-hobby">
						<div class="description-profile-hobby-placeholder">
						  <input name="int-name" id="save_hobby" class="description-profile__input-hobby" placeholder="Название интереса">
						</div>
						<div class="description-profile__add-button">
						  <button id="add_button" type="submit" class="description-profile__button_add-hobby">Добавить интерес</button>
						</div>
					  </div>			
					</div>
				  </div> 
				</div>
			  </div>
			</section>
			<section class="profile__content profile-content_friendlist">
			  <div class="friendlist-tab-content">
				<div class="wrapper scrollbar-dynamic">
				  <div class="friendlist">
					<div class="friendlist__avatar col-2">
					  <img class="friendlist__avatar_img" src="img/1.png" alt="friend-1">
					</div>
					<div class="friendlist-user col-4">
					 
					  <div class="friendlist__wrap row-2">
						<div class="friendlist-user-info col-8">
						  <a class="friendlist__link_friend_name">Лев Бронштейн</a>
						  <p class="friendlist__text_friend_city">г. Ханты-Мансийск</p>
						  <div class="friendlist-status"><p class="friendlist__text_status_online"> Online</p></div>
						</div>
					  </div>
					</div>
	  
					<div class="friendlist__avatar col-2">
					  <img class="friendlist__avatar_img" src="img/2.png" alt="friend-2">
					</div>
					<div class="friendlist-user col-4">
					  <div class="friendlist__wrap row-2">
						<div class="friendlist-user-info col-8">
								<a class="friendlist__link_friend_name">Находка Капитал </a>
						  <p class="friendlist__text_friend_city">г. Усть-Бельск</p>
						</div>
					  </div>
					</div>
				  </div>
				  <div class="friendlist">
					<div class="friendlist__avatar col-2">
					  <img class="friendlist__avatar_img" src="img/3.png" alt="friend-3">
					</div>
					<div class="friendlist-user col-4">
					  <div class="friendlist__wrap row-2">
						<div class="friendlist-user-info col-8">
								<a class="friendlist__link_friend_name">Яндекс Петренко </a>
						  <p class="friendlist__text_friend_city">г. Петренко</p>
						</div>
					  </div>
					</div>
					<div class="friendlist__avatar col-2">
					  <img class="friendlist__avatar_img" src="img/4.png" alt="friend-4">
					</div>
					<div class="friendlist-user col-4">
					  <div class="friendlist__wrap row-2">
						<div class="friendlist-user-info col-8">
							<a class="friendlist__link_friend_name">Успех Возможностей</a>
						  <p class="friendlist__text_friend_city">г. Радонеж</p>
						  <div class="friendlist-status"><p class="friendlist__text_status_online"> Online</p></div>
						</div>
					  </div>
					</div>
				  </div>
				  <div class="friendlist">
					<div class="friendlist__avatar col-2">
					  <img class="friendlist__avatar_img" src="img/5.png" alt="friend-5">
					</div>
					<div class="friendlist-user col-4">
					  <div class="friendlist__wrap row-2">
						<div class="friendlist-user-info col-8">
								<a class="friendlist__link_friend_name">Инна Нашлась </a>
						  <p class="friendlist__text_friend_city">г. Омск</p>
						  <div class="friendlist-status"><p class="friendlist__text_status_online"> Online</p></div>
						</div>
					  </div>
					</div>
					<div class="friendlist__avatar col-2">
					  <img class="friendlist__avatar_img" src="img/6.png" alt="friend-6">
					</div>
					<div class="friendlist-user col-4">
					  <div class="friendlist__wrap row-2">
						<div class="friendlist-user-info col-8">
							<a class="friendlist__link_friend_name">Алла Подольская </a>
						  <p class="friendlist__text_friend_city">г. Петропавловск-Камчатский</p>
						  <div class="friendlist-status"><p class="friendlist__text_status_online"> Online</p></div>
						</div>
					  </div>
					</div>
				  </div>				  
	              <div class="friendlist">
						<div class="friendlist__avatar col-2">
						  <img class="friendlist__avatar_img" src="img/1.png" alt="friend-1">
						</div>
						<div class="friendlist-user col-4">
						 
						  <div class="friendlist__wrap row-2">
							<div class="friendlist-user-info col-8">
							  <a class="friendlist__link_friend_name">Лев Бронштейн</a>
							  <p class="friendlist__text_friend_city">г. Ханты-Мансийск</p>
							  <div class="friendlist-status"><p class="friendlist__text_status_online"> Online</p></div>
							</div>
						  </div>
						</div>
		  
						<div class="friendlist__avatar col-2">
						  <img class="friendlist__avatar_img" src="img/2.png" alt="friend-2">
						</div>
						<div class="friendlist-user col-4">
						  <div class="friendlist__wrap row-2">
							<div class="friendlist-user-info col-8">
									<a class="friendlist__link_friend_name">Находка Капитал </a>
							  <p class="friendlist__text_friend_city">г. Усть-Бельск</p>
							</div>
						  </div>
						</div>
					  </div>
					  <div class="friendlist">
						<div class="friendlist__avatar col-2">
						  <img class="friendlist__avatar_img" src="img/3.png" alt="friend-3">
						</div>
						<div class="friendlist-user col-4">
						  <div class="friendlist__wrap row-2">
							<div class="friendlist-user-info col-8">
									<a class="friendlist__link_friend_name">Яндекс Петренко </a>
							  <p class="friendlist__text_friend_city">г. Петренко</p>
							</div>
						  </div>
						</div>
						<div class="friendlist__avatar col-2">
						  <img class="friendlist__avatar_img" src="img/4.png" alt="friend-4">
						</div>
						<div class="friendlist-user col-4">
						  <div class="friendlist__wrap row-2">
							<div class="friendlist-user-info col-8">
								<a class="friendlist__link_friend_name">Успех Возможностей</a>
							  <p class="friendlist__text_friend_city">г. Радонеж</p>
							  <div class="friendlist-status"><p class="friendlist__text_status_online"> Online</p></div>
							</div>
						  </div>
						</div>
					  </div>
					  <div class="friendlist">
						<div class="friendlist__avatar col-2">
						  <img class="friendlist__avatar_img" src="img/5.png" alt="friend-5">
						</div>
						<div class="friendlist-user col-4">
						  <div class="friendlist__wrap row-2">
							<div class="friendlist-user-info col-8">
									<a class="friendlist__link_friend_name">Инна Нашлась </a>
							  <p class="friendlist__text_friend_city">г. Омск</p>
							  <div class="friendlist-status"><p class="friendlist__text_status_online"> Online</p></div>
							</div>
						  </div>
						</div>
						<div class="friendlist__avatar col-2">
						  <img class="friendlist__avatar_img" src="img/6.png" alt="friend-6">
						</div>
						<div class="friendlist-user col-4">
						  <div class="friendlist__wrap row-2">
							<div class="friendlist-user-info col-8">
								<a class="friendlist__link_friend_name">Алла Подольская </a>
							  <p class="friendlist__text_friend_city">г. Петропавловск-Камчатский</p>
							  <div class="friendlist-status"><p class="friendlist__text_status_online"> Online</p></div>
							</div>
						  </div>
						</div>
					  </div>
					  <div class="friendlist">
							<div class="friendlist__avatar col-2">
							  <img class="friendlist__avatar_img" src="img/1.png" alt="friend-1">
							</div>
							<div class="friendlist-user col-4">
							 
							  <div class="friendlist__wrap row-2">
								<div class="friendlist-user-info col-8">
								  <a class="friendlist__link_friend_name">Лев Бронштейн</a>
								  <p class="friendlist__text_friend_city">г. Ханты-Мансийск</p>
								  <div class="friendlist-status"><p class="friendlist__text_status_online"> Online</p></div>
								</div>
							  </div>
							</div>
			  
							<div class="friendlist__avatar col-2">
							  <img class="friendlist__avatar_img" src="img/2.png" alt="friend-2">
							</div>
							<div class="friendlist-user col-4">
							  <div class="friendlist__wrap row-2">
								<div class="friendlist-user-info col-8">
										<a class="friendlist__link_friend_name">Находка Капитал </a>
								  <p class="friendlist__text_friend_city">г. Усть-Бельск</p>
								</div>
							  </div>
							</div>
						  </div>
						  <div class="friendlist">
							<div class="friendlist__avatar col-2">
							  <img class="friendlist__avatar_img" src="img/3.png" alt="friend-3">
							</div>
							<div class="friendlist-user col-4">
							  <div class="friendlist__wrap row-2">
								<div class="friendlist-user-info col-8">
										<a class="friendlist__link_friend_name">Яндекс Петренко </a>
								  <p class="friendlist__text_friend_city">г. Петренко</p>
								</div>
							  </div>
							</div>
							<div class="friendlist__avatar col-2">
							  <img class="friendlist__avatar_img" src="img/4.png" alt="friend-4">
							</div>
							<div class="friendlist-user col-4">
							  <div class="friendlist__wrap row-2">
								<div class="friendlist-user-info col-8">
									<a class="friendlist__link_friend_name">Успех Возможностей</a>
								  <p class="friendlist__text_friend_city">г. Радонеж</p>
								  <div class="friendlist-status"><p class="friendlist__text_status_online"> Online</p></div>
								</div>
							  </div>
							</div>
						  </div>
						  <div class="friendlist">
							<div class="friendlist__avatar col-2">
							  <img class="friendlist__avatar_img" src="img/5.png" alt="friend-5">
							</div>
							<div class="friendlist-user col-4">
							  <div class="friendlist__wrap row-2">
								<div class="friendlist-user-info col-8">
										<a class="friendlist__link_friend_name">Инна Нашлась </a>
								  <p class="friendlist__text_friend_city">г. Омск</p>
								  <div class="friendlist-status"><p class="friendlist__text_status_online"> Online</p></div>
								</div>
							  </div>
							</div>
							<div class="friendlist__avatar col-2">
							  <img class="friendlist__avatar_img" src="img/6.png" alt="friend-6">
							</div>
							<div class="friendlist-user col-4">
							  <div class="friendlist__wrap row-2">
								<div class="friendlist-user-info col-8">
									<a class="friendlist__link_friend_name">Алла Подольская </a>
								  <p class="friendlist__text_friend_city">г. Петропавловск-Камчатский</p>
								  <div class="friendlist-status"><p class="friendlist__text_status_online"> Online</p></div>
								</div>
							  </div>
							</div>
						  </div>
				</div>
		      <div>
			<section>
		  </main>	
		<script  src="js/main.min.js"></script>
</body>
</html>
