
<!DOCTYPE html>
<html lang="en">

<head>
<title>CVT</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" href="css/style.min.css">
</head>
<body>


<div class="container">

	<div id="tabs">
		<header>
		<nav class="tab whiteborder">Профиль</nav>
		<nav class="tab">Друзья пользователя</nav>
    	</header>
		<main class="tabContent">
				<article class="row">
						<section class="col-4v2">
								<img class="img-cat" src="img/UserPic.png">
						</section>
					
						<div class="col">
								<section class="name">
<input onmouseout="this.blur();" class="input-name" id="Name" >
							</section>
						  <section class="row">
								<div class="col-6">
									<div class="city"> г. Нижние Шахты</div>
								</div>
							</section>
						  <section class="row">
								<div class="col-6">
								 <div class="info">Семейное положение</div>
								</div>
								<div class="col">
								 <div class="change-info">холост</div> 
								</div>
							  </section>
							  
							  <section class="row">
									<div class="col-6">
											<div class="info">Телефон</div>
									</div>
									<div class="col">
										<input onmouseout="this.blur();" class="input-info-phone" id="phone" >
									</div>
								  </section>
								  <section class="row">
										<div class="col-6">
												<div class="info"> E-mail</div>
										</div>
										<div class="col">
    
										<input onmouseout="this.blur();" class="input-info-email"  id="email" >
											
										</div>
									  </section>
									 
						</div>
					</article>
			<div>
					<article class="row">
							<div class="col-4v3">
									<p href="#" class="add-friend">Добавить в друзья</p>
								  </div>
<div class="col">
	<div class="int"> Интересы </div>
		<div class="row justify-content-start">
            <section id="Input_val" class="col-auto">
                <div id="standart-int"> 
                </div>
            </section>    
                        <div class="add-int">          
                            <div class="intrest-placeholder">
                                <input  name="int-name" id="save_int" type="text" class="form-control" placeholder="Название интереса"  >
			                </div>
                                   <div class="add-button">
                                        <button  id="add_button" name='reg' type="submit" class="btn btn-outline-secondary"  >
						                <p class="int-button">Добавить интерес</p>
						                </button>
										<script>
										</script>
                                      </div>

               </div>
							</div>								 
							</div>
						</article>
					</div>
	
				</main>

		<div class="tabContent">
			
				<div class="tabContent-friends">
				<div class="wrapper scrollbar-dynamic">
				<div class="row-2">
			        
						<div class="col-2">
								<img class="FriendPic" src="img/1.png">
						</div>
						<div class="col-4">
								<p class="underline">Лев Бронштейн</p>
						  <div class="row-2">
								<div class="col-8">
									<p class="friend-city">г. Ханты-Мансийск</p>
									<div class="status"><p class="friend-status"> Online</p></div>
								</div>
							</div>	
					  </div>
					
					  <div class="col-2">
							<img class="FriendPic" src="img/2.png">
					</div>
					<div class="col-4">
							<p class="underline">Находка Капитал </p>
					  <div class="row-2">
							<div class="col-8">
								<p class="friend-city">г. Усть-Бельск</p>
							</div>
						</div>
				  </div>
	
				  </div>
				  <div class="row-2">
						<div class="col-2">
								<img class="FriendPic" src="img/3.png">
						</div>
						<div class="col-4">
								<p class="underline">Яндекс Петренко </p>
						  <div class="row-2">
								<div class="col-8">
									<p class="friend-city">г. Петренко</p>
								</div>
							</div>	
					  </div>
					  <div class="col-2">
							<img class="FriendPic"src="img/4.png">
					</div>
					<div class="col-4">
							<p class="underline">Успех Возможностей</p>
					  <div class="row-2">
							<div class="col-8">
								<p class="friend-city">г. Радонеж</p>
								<div class="status"><p class="friend-status"> Online</p></div>
							</div>
						</div>
				  </div>
	
				  </div>

				  <div class="row-2">
						<div class="col-2">
								<img class="FriendPic"src="img/5.png">
						</div>
						<div class="col-4">
								<p class="underline">Инна Нашлась </p>
						  <div class="row-2">
								<div class="col-8">
									<p class="friend-city">г. Омск</p>
									<div class="status"><p class="friend-status"> Online</p></div>
								</div>
							</div>	
					  </div>
					  <div class="col-2">
							<img class="FriendPic"src="img/6.png">
					</div>
					<div class="col-4">
							<p class="underline">Алла Подольская </p>
					  <div class="row-2">
							<div class="col-8">
								<p class="friend-city">г. Петропавловск-Камчатский</p>
								<div class="status-6"><p class="friend-status"> Online</p></div>
							</div>
						</div>
				  </div>	
				  </div>
				  <div class="row-2">
			
						<div class="col-2">
								<img class="FriendPic"src="img/1.png">
						</div>
						<div class="col-4">
								<p class="underline">Лев Бронштейн</p>
						  <div class="row-2">
								<div class="col-8">
									<p class="friend-city">г. Ханты-Мансийск</p>
									<div class="status"><p class="friend-status"> Online</p></div>
								</div>
							</div>	
					  </div>
					  <div class="col-2">
							<img class="FriendPic"src="img/2.png">
					</div>
					<div class="col-4">
							<p class="underline">Находка Капитал </p>
					  <div class="row-2">
							<div class="col-8">
								<p class="friend-city">г. Усть-Бельск</p>
							</div>
						</div>
				  </div>
	
				  </div>
				  <div class="row-2">
						<div class="col-2">
								<img class="FriendPic"src="img/3.png">
						</div>
						<div class="col-4">
								<p class="underline">Яндекс Петренко </p>
						  <div class="row-2">
								<div class="col-8">
									<p class="friend-city">г. Петренко</p>
								</div>
							</div>	
					  </div>
					  <div class="col-2">
							<img class="FriendPic"src="img/4.png">
					</div>
					<div class="col-4">
							<p class="underline">Успех Возможностей</p>
					  <div class="row-2">
							<div class="col-8">
								<p class="friend-city">г. Радонеж</p>
								<div class="status"><p class="friend-status"> Online</p></div>
							</div>
						</div>
				  </div>
	
				  </div>

				  <div class="row-2">
						<div class="col-2">
								<img class="FriendPic"src="img/5.png">
						</div>
						<div class="col-4">
								<p class="underline">Инна Нашлась </p>
						  <div class="row-2">
								<div class="col-8">
									<p class="friend-city">г. Омск</p>
									<div class="status"><p class="friend-status"> Online</p></div>
								</div>
							</div>	
					  </div>
					  <div class="col-2">
							<img class="FriendPic"src="img/6.png">
					</div>
					<div class="col-4">
							<p class="underline">Алла Подольская </p>
					  <div class="row-2">
							<div class="col-8">
								<p class="friend-city">г. Петропавловск-Камчатский</p>
								<div class="status-6"><p class="friend-status"> Online</p></div>
							</div>
						</div>
					</div>		
				  </div>	
				  <div class="row-2">
			
						<div class="col-2">
								<img class="FriendPic"src="img/1.png">
						</div>
						<div class="col-4">
								<p class="underline">Лев Бронштейн</p>
						  <div class="row-2">
								<div class="col-8">
									<p class="friend-city">г. Ханты-Мансийск</p>
									<div class="status"><p class="friend-status"> Online</p></div>
								</div>
							</div>	
					  </div>
					  <div class="col-2">
							<img class="FriendPic"src="img/2.png">
					</div>
					<div class="col-4">
							<p class="underline">Находка Капитал </p>
					  <div class="row-2">
							<div class="col-8">
								<p class="friend-city">г. Усть-Бельск</p>
							</div>
						</div>
				  </div>
	
				  </div>
				  <div class="row-2">
						<div class="col-2">
								<img class="FriendPic"src="img/3.png">
						</div>
						<div class="col-4">
								<p class="underline">Яндекс Петренко </p>
						  <div class="row-2">
								<div class="col-8">
									<p class="friend-city">г. Петренко</p>
								</div>
							</div>	
					  </div>
					  <div class="col-2">
							<img class="FriendPic"src="img/4.png">
					</div>
					<div class="col-4">
							<p class="underline">Успех Возможностей</p>
					  <div class="row-2">
							<div class="col-8">
								<p class="friend-city">г. Радонеж</p>
								<div class="status"><p class="friend-status"> Online</p></div>
							</div>
						</div>
				  </div>
	
				  </div>

				  <div class="row-2">
						<div class="col-2">
								<img class="FriendPic"src="img/5.png">
						</div>
						<div class="col-4">
								<p class="underline">Инна Нашлась </p>
						  <div class="row-2">
								<div class="col-8">
									<p class="friend-city">г. Омск</p>
									<div class="status"><p class="friend-status"> Online</p></div>
								</div>
							</div>	
					  </div>
					  <div class="col-2">
							<img class="FriendPic"src="img/6.png">
					</div>
					<div class="col-4">
							<p class="underline">Алла Подольская </p>
					  <div class="row-2">
							<div class="col-8">
								<p class="friend-city">г. Петропавловск-Камчатский</p>
								<div class="status-6"><p class="friend-status"> Online</p></div>
							</div>
						</div>
				  </div>	
				  </div>
				  </div>		  	
<script type="text/javascript" src="js/main.js"></script>			
</body>
</html>





