/* profile content */

.description-profile-hobby__wrap{
	max-width: 352.5px;
}
.description-profile {
	flex-wrap: nowrap;
}
.description-profile-interactive-info__wrap{
	flex-wrap: nowrap;
}

nav p{
	display: inline-block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
p{
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
ul{
	margin-top:0px;
	margin-left:-25px;
	display: block;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 00px;
}
.friendlist{
	display: flex;
	flex-wrap: nowrap;
	margin-bottom: 23.5px;
	margin-right: 24px;
  }
.friendlist-right__avatar{
	padding-left: 15px;
}

.description-profile-user-info{
    flex-basis: 0;
    flex-grow: 1;
	max-width: 100%;
	position: relative;
    width: 100%;
    min-height: 1px;
	padding-left: 21px;
	/*min-width: 240px;*/
}
.tabs .navigation__link{
	
	display: inline-block;
	cursor: pointer;	
	font-family: 'Arial';
	border-radius: 4px 4px 0px 0px;
	background: linear-gradient(0deg, rgba(35,104,172,1) 0%, rgba(6,133,180,1) 100%);
	color:#ffffff;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.38);
	font-size: 14px;
	padding:6px 16px 6px 15px;
	margin-right: 6px;
	position: relative;
	top:1px;
}
.tabs .whiteborder{
	text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.38);
	box-shadow:0px 1px 3px 0px rgba(0,0,0,0.31);
	font-family: 'Arial';
	border-radius: 4px 4px 0px 0px;
	background: #ffffff;
	color:#000000;
	font-size: 14px;
	padding:6px 15px 6px 16px;
	margin-right: 6px;
	
}
.tabs .profile__content{	
	position: relative;
	box-shadow:0px 2px 3px 0px rgba(0,0,0,0.31);
 /* min-width: 487px;*/
	padding: 15px 12px 15px 15px;
	border-radius: 0px 4px 4px 4px;
	font-family: 'Arial';
	background: #ffffff;
	display:inline-block;
	min-height: 278px;
}

.tabs .hide{
	display: none;
}
.tabs .show{
	display: block;
}
.tab-text{
	 margin: 11px 16px 8px 15px;
}	

.description-profile-phone__wrap-input{
	margin-right: 158px;
}

.description-profile-email__wrap-input{
	margin-right: 215px;
}

@media (max-width: 505.5px) {
.col-6{
	flex: 0 0 36%;
}
.description-profile-email__wrap-input{
	margin-right: 125px;
}
.description-profile-phone__wrap-input{
	margin-right: 75px;
}
}

.navigation{
	/*min-width: 254.5px;*/
	white-space: nowrap;
}
@media (max-width: 413.5px) {
.navigation{
	text-align: center;
}
.col-6{
	flex: 0 0 49%;
}
.description-profile-email__wrap-input{
	margin-right: 64px;
}
.description-profile-phone__wrap-input{
	margin-right: 64px;
}
}
body {
	background-color:#cccccc;
}
.description-profile__avatar-wrap{
	box-shadow:0px 0px 6px 1px rgba(0,0,0,0.32)inset;
	border-radius: 5px;
}
.description-profile__avatar{
	overflow: hidden;
	z-index: 1;
	min-width: 147px;
  }		 
.description-profile__avatar_img{
	max-width:100%;
	position: relative;
	z-index: -2;
	margin-bottom: -6px;
  }
  @media (max-width: 413.5px) {
.description-profile__avatar{
   width: 100%;
   padding-right: 8px;
   min-width: 100px;
   max-width: 600px;
  }
.description-profile__avatar_img{

   width: 100%;
	  }
  }
  /*
.description-profile__avatar_img{
	box-shadow:0px 0px 6px 1px rgba(0,0,0,0.32)inset;

	border-radius: 3px;
    width:132px;
    height:169px; 
	margin-bottom:6px; 
	background:url(../img/UserPic.png);
	}
	*/
.description-profile__button_add-friend {
    box-shadow:         0px 1px 0px 0px rgba(50, 50, 50, 0.38);
	min-width: 132px;
    padding: 9px 9px 9px 9px;
    white-space: nowrap;
    cursor: pointer;
    font-size: 12px;
    color: #ffffff;
    border-radius: 2px;
    font-family: 'Arial';
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.43);
	background:linear-gradient(0deg, rgba(230,82,0,1) 0%, rgba(230,130,0,1) 100%);
	position: relative;
    margin-left:15px;
    line-height: 0.95;

	flex: 0 0 30%;
	min-width: 132px;
    max-width: 132px;
	border: 0px solid #ced4da;
    height: 30px;
}

.description-profile-name {
	font-size:23px;
	margin-bottom: -5px;
	margin-left: -1px;
}
.description-profile__text_city_name{
	font-size:11px;
	color:#757575;
	margin-bottom: 14px;
	white-space: nowrap;
}
.description-profile__text_family_status{
	font-weight: bold;
	font-size:12px;
	margin-top:9px;
	color:#000000;
}
.description-profile__text_phone_number {
	font-weight: bold;
	font-size:12px;
	margin-top:4px;
	color:#000000;
}
.description-profile__text_email_adress {
	font-weight: bold;
	font-size:12px;
	margin-top:4px;
	color:#000000;
}

.description-profile__text_hobby{
	font-weight: bold;
	font-size:12px;
	margin-top: -15px;
	color:#262626;
	
}
.description-profile__text_married_status{
	font-weight: lighter;
	font-size:12px;
	margin-top:9px;
	margin-left: 0px;
	color:#262626;
}
.change-info-email{
	font-weight: lighter;
	font-size:12px;
	margin-top:9px;
	margin-left: 0px;
	color:#1574af;
}

.underline-email:hover{
	color:rgb(55, 1, 105);
}
.List__item {
    padding: 2.5px 10px 2.5px 10px;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    font-weight: lighter;
    color: #488bc2;
    border-radius: 2px;
    font-family: 'Arial';
    background-color: rgba(0,0,0,0);
    border: 1px solid #d5d5d5;
	text-decoration: none;	
	margin-top: 5px;
	margin-right: 3px;
}
.List__item:hover {
	color:black;
	background: #f3f3f3;
   
}
.description-profile-add-hobby{

    display: flex;

	flex-wrap: wrap;
}

.description-profile__button_add-hobby{
	width: 105px;
    box-shadow:         0px 1px 0px 0px rgba(50, 50, 50, 0.38);
	margin-top:10px;
	border-radius: 2px;
	padding: 1px;
	cursor: pointer;
	padding: 4.5px 1.5px 4.5px 1.5px;
	border: 0px solid #ced4da;
	color: #ffffff;
    border-radius: 2px;
    font-family: 'Arial';
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.43);
	background: linear-gradient(0deg, rgba(230,82,0,1) 0%, rgba(230,130,0,1) 100%);
	font-size: 10px;
	text-rendering: auto;
	margin-right: 30px;
}

.description-profile-hobby-placeholder{

	position: relative;
    min-height: 1px;
	padding-left: 15px;
	margin-top:10px;
}
.description-profile__add-button{
	flex-basis: 130px;

    flex-grow: 1;
	max-width: 100%;
	position: relative;
    width: 100%;
    min-height: 1px;
    padding-left: 15px;

}
.description-profile__input-hobby {
    width: 162px;
    height: 25px;
    padding: 6px 8px 6px 8px;;
    font-size: 8pt; 
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 2px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.description-profile__input-name{
	color:#000000;
	border-radius: 2px;
	border: 0px solid #ced4da;
	font-size:23px;
	width: 181px;
	margin-right: 10px;
}
.box-description__name:hover{
	color:blue;
}
input.description-profile__input-name::placeholder{
	color:#000000;
	
}
input:focus{
	outline-color: white;	
}
input:hover{
	outline-color: #ced4da;
}
.description-profile__input-phone{
	border-radius: 2px;
	font-weight: lighter;
	font-size:8pt;
	margin-left: 0px;
	color:#262626;
	border: 0px solid #ced4da;
	margin-top: 6px;
}
input.description-profile__input-phone::placeholder{
	color:#262626;
}
.description-profile__input-email{
	border-radius: 2px;
	font-weight: lighter;
	font-size:12px;
	margin-left: 0px;
	color:#1574af;
	border: 0px solid #ced4da;
	text-decoration: underline;
}

input.description-profile__input-email::placeholder{
	width:100px;
	color:#1574af;
	text-decoration: underline;

}
.friendlist-left__wrap{
    margin-right: 26px;
}
.friendlist-right__wrap{
	margin-right: 0px;
}

@media(min-width: 575.5px){
	.description-profile__input-phone {
		width: 150px;
	}
	
	/*.description-profile__input-email {
		width: 150px;
	}*/
	.description-profile__input-name{
		width: 280px;
	}
  }
  
input[id="phone"]::-webkit-input-placeholder {
	color: #dad8d8;
}
input[id="email"]::-webkit-input-placeholder {
	color: #dad8d8;
}
input[id="Name"]::-webkit-input-placeholder {
	color: #dad8d8;
}
input[id="save_hobby"]::-webkit-input-placeholder {
	color: #dad8d8;
}
input[id="phone"]:-ms-input-placeholder {
	color: #dad8d8;
}
input[id="email"]:-ms-input-placeholder {
	color: #dad8d8;
}
input[id="save_hobby"]:-ms-input-placeholder {
	color: #dad8d8;
}
input[id="Name"]:-ms-input-placeholder {
	color: #dad8d8;
}

/*Friend list*/

.friendlist-user-left-side{
	margin-left: 22px;
    margin-right: auto;
}

.friendlist-user-right-side{
	margin-left: 22px;
    margin-right: auto;
}

.friendlist__link_friend_name {
	border-bottom: 1px solid currentColor;
	color:#1574af;
	font-size: 13px;
    font-weight:bold;
	white-space: nowrap;
	line-height: 1.1;
  }
 
  .friendlist__avatar_img{
	  border-radius: 2px;
  }
  .friendlist__text_friend_city{
	font-size:11px;
	color:#373737;
	/*margin-bottom:20px;*/
	white-space: normal;
	margin-top: 6px;
	min-width: 96px;
	line-height: 1;
}

.friendlist__text_status_online{
    font-size:10px;
    font-family: 'Arial';
    font-style:italic;
    color:#2f8a26;
}	
.friendlist-status{
	top:50px;
	position: absolute;
}

@media(max-width: 522.5px){
	/*.friendlist-status {
		top:25px;
		position: absolute;
	}*/
/*	.tabs .profile__content{
		min-width: 355px;
	}*/
	.friendlist{
	width: 96%;
    margin-right: 43px;
	  }
  }
  
    .tabs .friendlist-tab-content{	
	position: relative;
	height: 248px;
	font-family: 'Arial';
	background: #ffffff;
	overflow-y: auto ;
	overflow-x: hidden;
	top:2px;
}
@media (max-width: 413.5px){
	.friendlist-right__wrap{
		margin-right: 0px;
	}
	/*
    .description-profile__avatar_img {
	 width: 328px;
    height: 420px;
    background-size: 100%;
}
*/
    .col-6{
    flex: 0 0 35%;
	}
	.description-profile{
		flex-wrap: wrap;
	}
}
@media (max-width: 400.5px){
	/*
	.description-profile__avatar_img {
    width: 283px;
    height: 363px;
	background-size: 100%;
}*/
}
@media (max-width: 350.5px){
	/*
	.description-profile__avatar_img {
	width: 247px;
	height: 317px;
	background-size: 100%;
}*/
}
@media (max-width: 312.5px){
	/*
	.description-profile__avatar_img {
	width: 213px;
	height: 272px;
	background-size: 100%;
}*/
}
@media (max-width: 413.5px) {
/*	.description-profile__avatar_img {
		width: 213px;
		height: 272px;
		background-size: 100%;
	}*/
	.description-profile__text_hobby{
		margin-top:5px;
	}
	.description-profile-user-info {
		flex-basis: 100%;
	}
	/*.friendlist-status {
		top:13px;
		position: absolute;
	}*/
	.tabs .navigation__link{
	  font-size: 10pt;
	  margin-right: 0px;
	}
	.row {
	  margin-right: 0px;	
	}
	.tabs .whiteborder{
	  font-size: 10pt;
	  margin-right: 0px;
	}
	.description-profile__button_add-friend{
		margin-top:10px;
		margin-left:20px;
	}
	.tabs .profile__content{	
		min-height:660px;
		min-width: 205px;
		border-radius: 4px 4px 4px 4px
	}
	.tabs .friendlist-tab-content {
	    min-height: 630px;
	}
	
	/*.friendlist  {
		margin-bottom: 0.9px;
	}*/
	.col-4-friends {
		padding-left: 0px;
	  }
  }
  @media(max-width: 285px){
    .tabs .profile__content{
		border-radius: 0px 0px 4px 4px;
	}
}

@media (max-width: 460.5px){
	.friendlist-user-left-side{
		margin-right: auto;
	}
	.friendlist-user-right-side{
		margin-right: auto;
	}
	.friendlist-left__wrap{
		margin-right: 9px;
	}
	.friendlist{
	    margin-right: 13px;
	}
}

@media (max-width: 413.5px) {
	.friendlist{
	  margin-right: 6px;
	}
	.friendlist-right__avatar{
		padding-left: 0px;
	}
	.friendlist-left__wrap{
		margin-right: 17px;
	}
  }
@media (max-width: 430.5px){
	.friendlist-user-left-side{
		margin-right: auto;
	}
}

  @media (max-width: 522.5px){
	.friendlist__text_friend_city{
		margin-top: 4px;
		white-space: normal;
		line-height: 0.75;
	}	
	.friendlist-user-left-side{
	/*	margin-left: 15px;*/
	}
	.friendlist-user-right-side{
	/*	margin-left: 15px;*/
	}
	.friendlist__link_friend_name {
        white-space:normal;
    }	
    .friendlist__text_friend_city{
     	min-width: 94px;
    }
  }

  @media (max-width: 413.5px){
	.friendlist-user-left-side {
		margin-right: auto;
        margin-left: 12px;
}

    .friendlist-user-right-side{
		margin-right: auto;
        margin-left: 12px;
	}
	.friendlist__link_friend_name{
		/*margin-right: 15px;*/
	}
} 
  @media (max-width: 379.5px){
	.friendlist{
		flex-wrap: wrap;
	  }
	  .friendlist-left__wrap{
		margin-right: 0px;
	}  
	/*.friendlist__link_friend_name {
		white-space:nowrap;
	  }	
	  .friendlist__text_friend_city {
		white-space:nowrap;
	} */
	.friendlist  {
		margin-bottom: 0.9px;
	}
	.friendlist-user-left-side {
		margin-right: auto;
        margin-left: 5px;
}

    .friendlist-user-right-side{
		margin-right: auto;
        margin-left: 5px;
	}
}

@media(min-width: 522.5px){
	.friendlist {
	/*	min-width: 460px;*/
	}
	/*.col-4 {
		flex: 0 0 31.9%;
	}*/
	.friendlist-user-right-side {
		margin-left: 28px;
		margin-right: auto;
	}
	.friendlist-user-left-side {
		margin-left: 28px;
		margin-right: 5px;
	}
}

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	p{
		display: block;
		margin-block-start: 0em;
		margin-block-end: 0em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
		margin-top:0px;
        margin-bottom: 0px;
	}
	ul{
		margin-top:0px;
		margin-left:-40px;
		display: block;
		list-style-type: disc;
		margin-block-start: 0em;
		margin-block-end: 0em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
		padding-inline-start: 00px;
		margin-top:0px;
        margin-bottom: 0px;
	}
	.tabs .profile__content{
		max-width: 515px;
		width: 100%;
	}
	.description-profile__input-hobby{
		  padding:4px 8px 4px 8px;
	  }
	.page {
		width: 100%;
		max-width: 515px;
	}  
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width : 522.5px){
	.friendlist{
		width:auto;
		margin-right: 23px;
	  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width : 413.5px){
	.col-2 {
	  flex: 0 0 21.666667%;
	}	
	.description-profile__avatar-wrap{
		width: 90%;
	}
	}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width : 379.5px){
	.col-2 {
	  flex: 0 0 32.666667%;
	}	
	}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width : 298.5px){
	.tabs .profile__content {
	  border-radius: 0 0 4px 4px;
	}	
	}	
/*
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width : 575.5px){
	.tabs .profile__content{
		width: 395px;
	}
	.friendlist__link_friend_name{
		white-space: normal;
	}
	.friendlist__text_friend_city{
		white-space: normal;
		min-width: 94px;
		margin-top: 4px;
		line-height: 0.65;
	}
	.friendlist{
		width: auto;
	}
	.col-4{
		margin-right: -17.85px;
	}
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width : 500.5px){
    .friendlist-user-left-side, .friendlist-user-right-side{
        margin-left: 26px;
    } 
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width : 413.5px){
	.tabs .profile__content{
		width: 382px;
	}
	.col-4{
		flex:0 0 12.666667%;
	}
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width : 400.5px){
	.friendlist__link_friend_name{
		white-space: nowrap;
	}
	.friendlist__text_friend_city{
        white-space: nowrap;
	}
	.tabs .profile__content{
		width: 323px;
	}
	.col-2{
		flex:0 0 23.666667%;
		max-width: 23.66%;
		margin-bottom:18px
	}
	.col-4{
		 flex:0 0 66.666667%;
		 margin-left:20px;
	}
	.friendlist{
		margin-bottom:0px;
	}
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width : 379.5px){
	.col-4{
		flex:0 0 59%;
		margin-left:10px;
	}
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width : 350.5px){
	.tabs .profile__content{
		width: 286px;
	}
	.friendlist__link_friend_name{
        white-space: normal;
	}
	.friendlist__text_friend_city{
        white-space: normal;
	}
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width : 313.5px){
	.tabs .profile__content{
		width: 256px;
		border-radius: 0 0 4px 4px;
	}
}

/*
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
	.description-profile__input-hobby{
	padding:4.5px 8px;
	}
	.description-profile__text_hobby{
	margin-left:15px;
	}
	.description-profile__add-button{
	margin-top:-15px
	}
	.description-profile-hobby-placeholder{
	margin-top:-5px;
    padding-left:30px;	
	}
	.description-profile-user-info{
	flex-basis:40px;
	}
	
    ul{
	margin-top:0px;
	}
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width : 575.5px){
	.description-profile-user-info{
	padding-left:21px;
	}
	.col-4{
	margin-right:-10px;
	}
	.description-profile__text_hobby{
	margin-left:2px;
	}
	.description-profile-hobby-placeholder{
	padding-left:17px;	
	}
	.description-profile__add-button{
	margin-top:0px;
    padding-left:17px	
	}
}
*/
/*
@-moz-document url-prefix() {
    	.friendlist__text_friend_city {
			min-width: 104px;
		}

		.friendlist {
			min-width:460.7px;
		  }
		.friendlist-user-right-side {
		    margin-right: 15px;
	   } 	   
	   
}

@-moz-document url-prefix() {
	@media screen and (max-width: 520.5px) {
		.friendlist {
			min-width:auto;
		  }
		.friendlist-user-right-side {
			margin-right: 32px;
		}
	}
}
@-moz-document url-prefix() {
	@media screen and (max-width: 500.5px) {
		.friendlist-user-right-side {
			margin-right: 20px;
		}
	}
}
*/
@-moz-document url-prefix() {
	@media screen and (max-width: 413.5px) {
		.friendlist-left__wrap {
			margin-right: 7px;
		}
	}
}
/*
@-moz-document url-prefix() {
	@media screen and (max-width: 379.5px) {
		.friendlist__text_friend_city {
			min-width: 100px;
		}
	}
}



/*
@-moz-document url-prefix() {
	@media screen and (min-width: 797.5px) {
		.col-4 {
			margin-right: 0px;
		  }
	}
}
*/
