
.col-description{
	-ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
	max-width: 100%;
	position: relative;
    width: 100%;
    min-height: 1px;
    padding-left: 21px;
}
#tabs .tab{
	
	display: inline-block;
    box-shadow:0px 3px 3px 0px rgba(0,0,0,0.31);
	cursor: pointer;
	
	font-family: 'Arial';
	border-radius: 4px 4px 0px 0px;
	background: linear-gradient(0deg, rgba(31,104,172,1) 0%, rgba(6,133,180,1) 100%);
	color:#ffffff;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.38);
	font-size: 14px;
	padding:6px 16px 5px 15px;
	margin-right: 6px;
	position: relative;
	top:1px;
}
#tabs .whiteborder{
	text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.38);
	box-shadow:0px 3px 3px 0px rgba(0,0,0,0.31);
	font-family: 'Arial';
	border-radius: 4px 4px 0px 0px;
	background: #ffffff;
	color:#000000;
	font-size: 14px;
	padding:6px 15px 5px 16px;
	margin-right: 6px;
	
}
#tabs .tabContent{	
	position: relative;
	box-shadow:0px 5px 3px 0px rgba(0,0,0,0.31);
    min-width: 487px;
	min-height: 278px;
	padding: 15px 12px 15px 15px;
	border-radius: 0px 4px 4px 4px;
	font-family: 'Arial';
	background: #ffffff;

}

#tabs .hide{
	display: none;
}
#tabs .show{
	display: block;
}
.tab-text{
	 margin: 11px 16px 8px 15px;
}	



/* profile content */
.navigation{
	min-width: 280px;
}

body {
	background-color:#cccccc;
}

.img-cat{
	box-shadow:0px 0px 6px 1px rgba(0,0,0,0.32)inset;
	-webkit-box-shadow:0px 0px 6px 1px rgba(0,0,0,0.32)inset;
	-moz-box-shadow:0px 0px 6px 1px rgba(0,0,0,0.32)inset;
	border-radius: 3px;
    width:132px;
    height:169px; 
    margin-bottom:5px; 
	}
.add-friend {
	-webkit-box-shadow: 0px 1px 0px 0px rgba(50, 50, 50, 0.38);
    -moz-box-shadow:    0px 1px 0px 0px rgba(50, 50, 50, 0.38);
    box-shadow:         0px 1px 0px 0px rgba(50, 50, 50, 0.38);
	min-width: 132px;
    padding: 9px 10px 10px 10px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    color: #ffffff;
    border-radius: 2px;
    font-family: 'Arial';
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.43);
	background:linear-gradient(0deg, rgba(230,82,0,1) 0%, rgba(230,130,0,1) 100%);
}

.name {
	font-size:23px;
	margin-bottom: -5px;
	margin-left: -1px;
}
.city{
	font-size:11px;
	color:#757575;
	margin-bottom: 14px;
}
.info {
	font-weight: bold;
	font-size:12px;
	margin-top:9px;
	color:#000000;
}
.info-phone {
	font-weight: bold;
	font-size:12px;
	margin-top:4px;
	color:#000000;
}
.info-email {
	font-weight: bold;
	font-size:12px;
	margin-top:4px;
	color:#000000;
}

.int{
	font-weight: bold;
	font-size:12px;
	margin-top: -15px;
	color:#262626;
	
}
.change-info{
	font-weight: lighter;
	font-size:12px;
	margin-top:9px;
	margin-left: -30px;
	color:#262626;
}
.change-info-email{
	font-weight: lighter;
	font-size:12px;
	margin-top:9px;
	margin-left: -30px;
	color:#1574af;
}

.underline-email:hover{
	color:rgb(55, 1, 105);
}
.intres {
    padding: 2.5px 10px 2.5px 10px;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    font-weight: lighter;
    color: #488bc2;
    border-radius: 2px;
    font-family: 'Arial';
    background-color: rgba(0,0,0,0);
    border: 1px solid #d5d5d5;
	text-decoration: none;	
	margin-top: 5px;
	margin-right: 3px;
}
.intres:hover {
	color:black;
	background: #f3f3f3;
   
}
.add-int{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.int-button{
	font-size: 8pt;
    text-rendering: auto;
   
}
.btn{
	width: 105px;
	-webkit-box-shadow: 0px 1px 0px 0px rgba(50, 50, 50, 0.38);
    -moz-box-shadow:    0px 1px 0px 0px rgba(50, 50, 50, 0.38);
    box-shadow:         0px 1px 0px 0px rgba(50, 50, 50, 0.38);
	margin-top:10px;
	border-radius: 2px;
	padding: 1px;
	cursor: pointer;
	padding: 4.5px 1.5px 4.5px 1.5px;
	border: 0px solid #ced4da;
	color: #ffffff;
    border-radius: 2px;
    font-family: 'Arial';
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.43);
	background: linear-gradient(0deg, rgba(230,82,0,1) 0%, rgba(230,130,0,1) 100%);
}
::-moz-placeholder, :-moz-placeholder {
    opacity: 1;
}
.intrest-placeholder{
	-webkit-box-flex: 0;
	position: relative;
    min-height: 1px;
	padding-left: 15px;
	margin-top:10px;
}
.add-button{
	flex-basis: 100px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
	max-width: 100%;
	position: relative;
    width: 100%;
    min-height: 1px;
    padding-left: 15px;

}
.form-control {
    width: 162px;
    height: 25px;
    padding: 6px 8px 6px 8px;;
    font-size: 8pt; 
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 2px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input-name{
	color:#000000;
	border-radius: 2px;
	border: 0px solid #ced4da;
	font-size:23px;
	width: 181px;
}
.name:hover{
	color:blue;
}
input.input-name::placeholder{
	color:#000000;
	
}
input:focus{
	outline-color: white;	
}
input:hover{
	outline-color: #ced4da;
}
.input-info-phone{
	width: 100px;
	border-radius: 2px;
	font-weight: lighter;
	font-size:8pt;
	margin-left: -30px;
	color:#262626;
	border: 0px solid #ced4da;
	margin-top: 6px;
}
input.input-info-phone::placeholder{
	color:#262626;
}
.input-info-email{
	width: 100px;
	border-radius: 2px;
	font-weight: lighter;
	font-size:12px;
	margin-left: -30px;
	color:#1574af;
	border: 0px solid #ced4da;
	text-decoration: underline;

}

input.input-info-email::placeholder{
	width:100px;
	color:#1574af;
	text-decoration: underline;

}

@media(min-width: 575.5px){
	.input-info-phone {
		width: 150px;
	}
	
	.input-info-email {
		width: 150px;
	}
	.input-name {
		width: 280px;
	}
  }

/*Friend list*/




.underline {
	border-bottom: 1px solid currentColor;
	color:#1574af;
	font-size: 13px;
  font-weight:bold;
  }
 
  .FriendPic{
	  border-radius: 2px;
  }
  .friend-city{
	font-size:11px;
	color:#373737;
	margin-bottom:20px;
	white-space: nowrap;
}

.friend-status{
    font-size:10px;
    font-family: 'Arial';
    font-style:italic;
    color:#2f8a26;
}
.friend-city-6{
	font-size:11px;
	color:#373737;
	line-height: 1;
	white-space:nowrap;
	}
.friend-city-6-second{
	font-size:11px;
	color:#373737;
	line-height: 1;
	}	
.status{
	margin-top:22px;
}
.status-6{
	margin-top:8px;
}
@media(max-width: 575.5px){
	.status {
		margin-top: 0px;
	}
	.status-6{
		margin-top:0px;
	}
    .int{
		margin-top:-11px;
	}
	#tabs .tabContent {
		min-width: 355px;
	}
	
  }
#tabs .tabContent-friends{	
	position: relative;
	height: 247px;
	font-family: 'Arial';
	background: #ffffff;
	overflow-y: auto ;
	overflow-x: hidden;
}
@media (max-width: 399.5px) {
	#tabs .tab{
	  font-size: 10pt;
	  padding: 11px 0px 8px 0px;
	}
	#tabs .whiteborder{
	  font-size: 10pt;
	  padding: 7px 0 5px;
	}
	.add-friend {
		margin-top:10px;
	}
	.int {
		margin-top:5px;
	}
	#tabs .tabContent{	
		min-height:562px;
		min-width: 205px;
	}
	#tabs .tabContent-friends {
	    min-height: 528px;
	}
	.row-2-friendlist {
		margin-bottom: 0.9px;
	}
	.row-2-friendlist-first-place{
		margin-bottom:0px;
	} 
	.col-4-friends {
		padding-left: 0px;
	  }
  }
  
  @media (max-width: 575.5px){
	.col-6{
		margin-right: 0px;
	}
	.friend-city-6{
		line-height: 0;
		white-space: nowrap;
		}
	.friend-city{
        white-space: normal;
		}	
  }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.col-description{
		padding-left:5px;
	}
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width : 575.5px){
	.col-description{
	padding-left:21px;
	}
	.friend-city-6{
	white-space: normal;
	}
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
	.form-control{
	padding:4.5px 8px;
	}
	.friend-city-6{
	line-height: 0;
	white-space: normal;
	}
}

